.pagination .selected {
    padding: 5px;
    width: 30px;
    background-color: goldenrod;
    font-weight: 700;
    border: solid 1px rgb(227, 39, 18);
    border-radius: 3px;
}
.pagination button{
    margin-right: 5px;
 }